  /* General */

  h1 {
    display: flex;
    justify-content: center;
  }

  /* General End */

  /* Navbar */

  .navbar-menu {
    display: flex;
    justify-content: center;
  }

  /* Navbar End */


 /* Form */

  .main-container {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .form-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }

  .date-picker {
    max-width: max-content;
    max-height: max-content;
    border: 2px solid black;
  }


  /* Form End */

  /* Login */

  /* .select-item {
    width: 100% !important;
  } */

  /* Login End */

  /* ShowAllItems Component */

  .itemImageUrl {
    width: 100px;
    height: 100px;
  }

  /* ShowAllItems Component End */

  /* AddItem Component */

  .form-container-item {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  /* AddItem Component End */

  /* AllAndOpenBirthdayEvents */

  .no-participant {
    color: red;
  }

  /* AllAndOpenBirthdayEvents End */

  /* CreateBirthdayEvent */

  /* .select-person {
    width: 100%;
  } */

  .totalMoneyAmount-field {
    width: 180px !important;
  }

  /* CreateBirthdayEvent End */

  /* WishListOfLoggedUser */

  .display-item {
    display: flex;
    justify-content: center;
  }

  /* WishListOfLoggedUser End */

  /* BuyPresent */

  /* .select-item-present {
    width: 200% !important;
  } */

  /* BuyPresent End */